includes:
	- bin/baseline.neon
parameters:
	level: 1
	paths:
		- .
	excludePaths:
		- node_modules (?)
		- assets
		- vendor
		- docs
		- lang
		- wordpress (?)
	bootstrapFiles:
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- vendor/stellarwp/php-stubs-woocommerce-subscriptions/woocommerce-subscriptions.php
		- bin/phpstan-bootstrap.php
	ignoreErrors:
		- '#Declaration of WC_Product_Subscription_Variation_Legacy::get_parent_id#'
