includes:
	- bin/baseline.neon
parameters:
	level: 1
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#^Path in (include_once|require_once|require)\(\) ".*wp-admin/includes/.*" is not a file#'
		- '#Function wp_(register_ability|register_ability_category|execute_ability) not found#'
		- '#Composer\\Semver\\VersionParser#'
		- '#JsonSchema\\Constraints\\BaseConstraint::convertJsonPointerIntoPropertyPath#'
	paths:
		- .
	excludePaths:
		- node_modules (?)
		- assets
		- vendor
		- docs
		- lang
		- wordpress (?)
		- includes/forms/WC_Order.php
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- bin/phpstan-bootstrap.php